{% extends "base.html" %}

{% block content %}
<br>

<div class="container">
    <div class="row">
        <h2>Скоро в проекте</h2>
    </div>
    <div class="row">
        <!-- <p class="bd-lead"> -->
        <ul class="list-unstyled">
            <ul>
                <li>Новости из мира IT и технологий</li>
                <li>Генератор ламповых билетов</li>
                <li>Игра Судоку</li>
                <li>Вторая луна</li>
            </ul>
        </ul>
        <!-- </p> -->
    </div>

    <div class="row">
        <h2>Наша команда</h2>
    </div>

    <div class="row">
        <p class="bd-lead">
            Мы — хорошики (за всё хорошее), мы верим в счастливое будущее 
            Петрозаводского общественного транспорта — мы верим в 
            троллейбус и трамвай. Больше троллейбус, чем трамвай: у нас город на горе..
        </p>
    </div>

    <div class="row">
        <p class="bd-lead">
            Нашей главной задачей на данный момент видим развитие 
            этого стартапа — проекта, который поможет вам не
            унывать в самые тяжелые периоды вашей жизни. 
        </p>
    </div>

</div>

{% endblock %}