{% extends "base.html" %}

{% block content %}

<!-- <div id="container"> -->
    <h1>Раздел о нас</h1>



    <h2>Скоро здесь появится:</h2>

    <ol>
        <li>Новости из мира IT и технологий</li>
        <li>Генератор ламповых билетов</li>
        <li>Игра Судоку</li>
        <li>Вторая луна</li>
    </ol>



    Мы -- команда хорошиков (за всё хорошее), которая верит в счастливое будущее 
        Петрозаводского общественного транспорта. Мы верим в 
        троллейбус и трамвай. <br>
    Нашей главной задачей на данный момент видим развитие 
        этого стартапа -- проекта, который поможет вам не
        унывать в самые тяжелые периоды вашей жизни. 
<!-- </div> -->

{% endblock %}