{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <h1>Golden Ticket</h1>
    </div>
    <div class="row">
        <p class="bd-lead">
            Это незаменимый сайт, который поможет вам в самую трудную минуту, 
            когда вы уже не в силах искать номер билета на этом куске бездушного чека, 
            когда вы находитесь в отчаянии и вашей последней надеждой является счастливый 
            билет, билет, который даст вам гарант, что всё в скором времени наладится.
        </p>
    </div>
    <div class="row">
        <p class="bd-lead">
            Это веб-приложение поможет вам быстро узнать, как в этот раз обернулся
            хаос вселенской случайности, всё что вам нужно сделать - это отсканировать
            QR-код на билете, который вам выдал кондуктор
        </p>
    </div>
    <div class="row">
        <a href = "/ticket" type="button" class="btn btn-secondary btn-lg">
            Увидеть будущее
        </a>

    </div>

</div>

{% endblock %}